<p id="notice"><%= notice %></p>

<h1>This Week</h1>

<table class="table table-striped">
  <tbody>
    <% @yoga_sessions.each do |yoga_session| %>
      <tr>
        <td><%= yoga_session.formatted_date %></td>
        <td><%= yoga_session.formatted_time %></td>
        <td><%= yoga_session.yoga_class.name %></td>
        <td><%= yoga_session.yoga_class.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a class to the schedule', new_yoga_session_path %>
