<% if logged_in? && current_user.admin? %>
  <%= link_to "Add an Event", new_event_path %>
<% end %>

<div class="container-fluid">		  
  <% @events.each do |event| %>
  <div class="event">
	  <div class="row">
  	  <div class="col-md-12 event-title">
    		<% if logged_in? %>
    	    <%= link_to event.title, event %>
    		<% else %>
    			<%= event.title %>
    		<% end %>
  	  </div>
	  </div>
	  <div class="row">
  	  <div class="col-md-12 event-manage">
        <% if logged_in? && current_user.admin? %>
          <%= link_to 'Edit', edit_event_path(event) %> |
          <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
  	  </div>
	  </div>
	  <div class="row">
  	  <div class="col-md-12 event-desc">
          <%= event.desc %>
  	  </div>
	  </div>
  </div>
  <% end %>
</div>

